workflows/pubmed-discovery.redacted.json
{
  "name": "PubMed Discovery & Editorial Pipeline (Redacted)",
  "nodes": [
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&retmode=json&datetype=edat&reldate=1&retmax=50&api_key=YOUR_NCBI_API_KEY&term=%28%22N+Engl+J+Med%22%5Bta%5D+OR+%22Ageing+Res+Rev%22%5Bta%5D+OR+%22Proc+Natl+Acad+Sci+U+S+A%22%5Bta%5D%29+AND+%28aging%5Btw%5D+OR+ageing%5Btw%5D+OR+longevity%5Btw%5D+OR+lifespan%5Btw%5D+OR+senescence%5Btw%5D+OR+senolytics%5Btw%5D+OR+rapamycin%5Btw%5D+OR+metformin%5Btw%5D+OR+%22epigenetic+clock%22%5Btw%5D%29+NOT+preprint%5Bpt%5D",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        2288
      ],
      "id": "6bed4db0-b5a2-41d9-8fe6-8284275d7e5a",
      "name": "PubMed esearch T1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        2288
      ],
      "id": "42eedc21-0854-4125-80da-5f569b80419c",
      "name": "送入守门员"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 256
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1376,
        2448
      ],
      "id": "4ba4cac9-f414-4a9a-af62-5292e0b66b36",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "REDACTED_DEEP_SEEK_API_CREDENTIAL_ID",
          "name": "REDACTED_DEEP_SEEK_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2176,
        2448
      ],
      "id": "1e7c461e-d345-48ce-a1a4-c8c0bb8ce241",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "REDACTED_OPEN_ROUTER_API_CREDENTIAL_ID",
          "name": "REDACTED_OPEN_ROUTER_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst idList = data.esearchresult.idlist;\nif (!idList || idList.length === 0) return [];\nreturn [{ json: { idString: idList.join(',') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2288
      ],
      "id": "5062e2a0-50cb-445f-bfa7-182267dd1398",
      "name": "处理数据1"
    },
    {
      "parameters": {
        "url": "=https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml&api_key=YOUR_NCBI_API_KEY&id={{$json.idString}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        2288
      ],
      "id": "d0a9bb85-28ac-484c-aa9d-460e3cd0cd8b",
      "name": "扒拉全文1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        560,
        2288
      ],
      "id": "b9c384de-a791-4790-ac15-b229bb46934b",
      "name": "XML解析1"
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.PubmedArticleSet.PubmedArticle;\nconst results = [];\nconst articleArray = Array.isArray(articles) ? articles : [articles];\n\nfor (const item of articleArray) {\n    if (!item || !item.MedlineCitation) continue;\n    try {\n        const article = item.MedlineCitation.Article;\n\n        const titleRaw = article.ArticleTitle;\n        const title = typeof titleRaw === 'string' ? titleRaw : (titleRaw._ || '无标题');\n\n        let abstract = '无摘要';\n        if (article.Abstract && article.Abstract.AbstractText) {\n            const absRaw = article.Abstract.AbstractText;\n            if (Array.isArray(absRaw)) {\n                abstract = absRaw.map(a => {\n                    if (typeof a === 'string') return a;\n                    const label = (a.$ && (a.$.Label || a.$.NlmCategory))\n                        ? '[' + (a.$.Label || a.$.NlmCategory) + '] ' : '';\n                    return label + (a._ || '');\n                }).filter(s => s.trim()).join('\\n\\n');\n            } else if (typeof absRaw === 'string') {\n                abstract = absRaw;\n            } else if (absRaw._) {\n                abstract = absRaw._;\n            }\n        }\n\n        // 无摘要跳过\n        if (!abstract || abstract === '无摘要' || abstract.length < 50) continue;\n\n        const pmidRaw = item.MedlineCitation.PMID;\n        const pmid = typeof pmidRaw === 'object' ? (pmidRaw._ || '') : String(pmidRaw);\n        const link = 'https://pubmed.ncbi.nlm.nih.gov/' + pmid + '/';\n\n        let pubDate = '';\n        try {\n            const pd = article.Journal.JournalIssue.PubDate;\n            const year = pd.Year || '';\n            const monthMap = {'Jan':'01','Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06',\n                              'Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'};\n            let month = pd.Month || '01';\n            month = monthMap[month] || String(month).padStart(2, '0');\n            const day = pd.Day ? String(pd.Day).padStart(2, '0') : '01';\n            pubDate = year + '-' + month + '-' + day;\n        } catch(e) { pubDate = ''; }\n\n        let entrezDate = '';\n        try {\n            const history = item.PubmedData\n                && item.PubmedData.History\n                && item.PubmedData.History.PubMedPubDate;\n            if (history) {\n                const histArr = Array.isArray(history) ? history : [history];\n                const entryRow = histArr.find(h => {\n                    const ps = (h.$ && h.$.PubStatus) || h.PubStatus || '';\n                    return ps === 'entrez';\n                });\n                if (entryRow) {\n                    const ey = (Array.isArray(entryRow.Year) ? entryRow.Year[0] : entryRow.Year) || '';\n                    const em = String((Array.isArray(entryRow.Month) ? entryRow.Month[0] : entryRow.Month) || '1').padStart(2, '0');\n                    const ed = String((Array.isArray(entryRow.Day) ? entryRow.Day[0] : entryRow.Day) || '1').padStart(2, '0');\n                    if (ey) entrezDate = ey + '-' + em + '-' + ed;\n                }\n            }\n        } catch(e) { entrezDate = ''; }\n\n        const journalName = (article.Journal && article.Journal.Title)\n            ? article.Journal.Title : '';\n\n        let firstAuthor = '';\n        try {\n            const authors = article.AuthorList.Author;\n            const authorArr = Array.isArray(authors) ? authors : [authors];\n            const a = authorArr[0];\n            if (a) firstAuthor = (a.LastName || '') + (a.ForeName ? ' ' + a.ForeName : '');\n        } catch(e) {}\n\n        results.push({\n            json: {\n                Title: title, PubDate: pubDate, EntrezDate: entrezDate,\n                Link: link, PMID: pmid, Abstract: abstract,\n                JournalName: journalName, FirstAuthor: firstAuthor\n            }\n        });\n    } catch(e) { continue; }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        2288
      ],
      "id": "5e2815cd-8477-47e3-a9ce-58846366ec28",
      "name": "解析PubMed文章1"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.processedPMIDs) staticData.processedPMIDs = [];\n\nconst allItems = $input.all();\nconst newItems = [];\n\nfor (const item of allItems) {\n    const pmid = item.json.PMID || '';\n    if (pmid && staticData.processedPMIDs.includes(pmid)) continue;\n    newItems.push({ json: { ...item.json } });\n}\n\nconst allPMIDs = allItems.map(i => i.json.PMID).filter(Boolean);\nstaticData.processedPMIDs = [...staticData.processedPMIDs, ...allPMIDs].slice(-500);\n\nreturn newItems.length > 0 ? newItems : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        2288
      ],
      "id": "8b00f297-249e-437d-bbcc-210050624f16",
      "name": "PMID去重1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个内容过滤器。判断这篇 PubMed 文章是否应该出现在「抗衰老/长寿科学」资讯平台上。\n\n## 严格排除标准（以下任一条即排除）\n1. 综述/系统评价/Meta分析——除非是里程碑级别\n2. 纯临床老年管理：跌倒预防、养老护理、生活质量量表、姑息治疗、慢性病管理方案\n3. 社会/心理/行为学研究：社会隔离、主观幸福感、认知行为干预，无分子机制\n4. 纯流行病学统计：仅统计患病率/发病率，无机制探索\n5. 研究对象是老年人，但研究目标与衰老机制无关（如老年骨折手术、老年感染治疗）\n6. 药物副作用、药代动力学、纯剂量安全性研究\n7. 纯疗效评估临床试验，无衰老机制贡献\n\n## 通过标准（核心研究对象必须直接涉及）\n- 衰老生物学机制：端粒、表观遗传时钟、细胞衰老/senescence、线粒体衰退、干细胞耗竭\n- 寿命/健康寿命的直接干预：雷帕霉素、二甲双胍、Senolytics、热量限制、NAD+前体等\n- 衰老生物标志物：生物年龄时钟、衰老细胞标记物\n- 长寿通路新发现：mTOR、AMPK、Sirtuins、NAD+、IGF-1 的新机制\n- 基因组稳定性/DNA损伤修复与衰老\n- 蛋白质稳态/自噬与衰老\n- 免疫衰老（immunosenescence）的机制研究\n- 肠道菌群与衰老机制\n\n期刊：{{ $json.JournalName }}\n标题：{{ $json.Title }}\n摘要：{{ $json.Abstract }}\n\n只输出JSON，不要任何代码块标记：\n{\"pass\": true或false, \"reason\": \"10字以内\"}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1360,
        2288
      ],
      "id": "2f9a1251-16d5-466e-8840-5f4357940007",
      "name": "严格AI守门员1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originals = $('送入守门员').all();\n\nreturn items.map((item, i) => {\n    const orig = originals[i]?.json || {};\n    let pass = false, reason = '';\n\n    try {\n        let content = item.json.text || '';\n        content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n        const fo = content.indexOf('{'), lc = content.lastIndexOf('}');\n        if (fo !== -1 && lc !== -1) {\n            const p = JSON.parse(content.substring(fo, lc + 1));\n            pass = p.pass === true;\n            reason = p.reason || '';\n        }\n    } catch(e) { pass = false; reason = '解析失败'; }\n\n    return {\n        json: { ...orig, gatekeeper_pass: pass, gatekeeper_reason: reason }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        2288
      ],
      "id": "da1a2bae-65cd-4711-b25a-95d7ac63f41c",
      "name": "解析守门员结果1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "t1-pass-cond",
              "leftValue": "={{ $json.gatekeeper_pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        2288
      ],
      "id": "08a9e056-6671-4b31-b576-f581e3a02542",
      "name": "是否通过筛选1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t1-map-01",
              "name": "original_title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "t1-map-02",
              "name": "content_for_ai",
              "value": "={{ $json.Abstract }}",
              "type": "string"
            },
            {
              "id": "t1-map-03",
              "name": "source_name",
              "value": "={{ $json.JournalName }}",
              "type": "string"
            },
            {
              "id": "t1-map-05",
              "name": "link",
              "value": "={{ $json.Link }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        2288
      ],
      "id": "5b82d2de-d08e-4523-9cc9-25e96ecd8e5e",
      "name": "字段映射1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n你是一位资深抗衰媒体编辑。这篇内容已通过严格相关性审核，直接生成不了解医学知识的普通人都能看懂、且愿意点击的内容。\n\n# Input\n- 来源: {{ $json.source_name }} | 信息质量: {{ $json.info_quality }}\n- 标题: {{ $json.original_title }}\n- 正文: {{ $json.content_for_ai }}\n\n# 写作规则\n1. 写成编辑takeaway，不是论文压缩版。首句=核心发现+对普通人的意义\n2. 禁止使用「研究揭示」「值得注意的是」「重磅消息」等空话\n3. 保留干预对象、机制、关键数据（保留P值即可）、转化意义\n4. 保留至少一个机构或作者。展望贴近科学事实但易懂性强\n5. 综述/评论须明确证据属性\n\n## 策略\n120-160字，包括研究结论+机制与关键数据+研究意义+普通人能听懂的一两句展望\n\n## 中文标题：22-34字，符合中文阅读习惯，不夸大\n\n# Output Format（JSON Only）\n不要markdown代码块。\n{\n  \"translated_title\": \"根据内容重新撰写的有吸引力的中文标题\",\n  \"summary\": \"中文快讯解读（编辑视角的takeaway）\",\n  \"translated_abstract\": \"将原文摘要翻译+解读为流畅专业的中文，保留核心数据和结论，用中文公众号科普媒体表达习惯润色，让普通读者也能看懂并因为有趣继续看下去\",\n  \"seo_keywords\": \"根据内容生成3-5个中文SEO关键词，逗号分隔，如：表观遗传时钟,衰老干预,NAD+\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2160,
        2288
      ],
      "id": "b1539529-1455-43df-8fd9-3c2115f0242c",
      "name": "内容生成AI1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allOriginals = $('字段映射1').all();\n\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const orig = allOriginals[i]?.json || {};\n\n    let finalSummary = '', finalTitle = '', translatedAbstract = '', seoKeywords = '';\n    try {\n        const raw = item.json.output || item.json.text || '';\n        const fo = raw.indexOf('{'), lc = raw.lastIndexOf('}');\n        if (fo !== -1 && lc !== -1) {\n            const p = JSON.parse(raw.substring(fo, lc + 1));\n            if (p.summary)             finalSummary       = p.summary;\n            if (p.translated_title)    finalTitle         = p.translated_title;\n            if (p.translated_abstract) translatedAbstract = p.translated_abstract;\n            if (p.seo_keywords)        seoKeywords        = p.seo_keywords;\n        }\n    } catch(e) {}\n\n    results.push({\n        json: {\n            ...orig,\n            is_relevant: true,\n            summary: finalSummary,\n            title: finalTitle || orig.original_title || '标题缺失',\n            translated_abstract: translatedAbstract,\n            seo_keywords: seoKeywords\n        }\n    });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        2288
      ],
      "id": "9fb44b0e-c5ec-46d1-bff0-87b5074fc364",
      "name": "解析生成结果1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n    const d = item.json;\n    const wpTitle    = d.title || d.original_title || '标题缺失';\n    const sourceInfo = d.source_name || d.JournalName || 'PubMed';\n    const link       = d.link || d.Link || '';\n\n    let wpContent = '';\n    if (d.translated_abstract) {\n        wpContent += '<p>' + d.translated_abstract + '</p>\\n\\n';\n    }\n    wpContent += '<p>📎 来源：' + sourceInfo;\n    if (link) {\n        wpContent += ' | <a href=\"' + link + '\" target=\"_blank\" rel=\"noopener\">查看原文</a>';\n    }\n    wpContent += '</p>';\n\n    results.push({\n        json: {\n            wp_title:           wpTitle,\n            wp_content:         wpContent,\n            wp_excerpt:         d.summary || '',\n            wp_seo_keywords:    d.seo_keywords || '',\n            wp_seo_description: (d.summary || '').substring(0, 156),\n            original_link:      link,\n            source_name:        sourceInfo,\n            summary:            d.summary || ''\n        }\n    });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        2288
      ],
      "id": "3a43c4b3-945e-4660-ad20-eb8c1629d42a",
      "name": "计划发到Wordpress1"
    },
    {
      "parameters": {
        "title": "={{ $json.wp_title }}",
        "additionalFields": {
          "content": "={{ $json.wp_content }}",
          "status": "draft",
          "categories": [
            14
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2768,
        2288
      ],
      "id": "70a95ce7-c6ce-44cf-9ab3-fd4cfc3d3e99",
      "name": "Create a post1",
      "credentials": {
        "wordpressApi": {
          "id": "REDACTED_WORDPRESS_API_CREDENTIAL_ID",
          "name": "REDACTED_WORDPRESS_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://longevityforesight.com/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excerpt",
              "value": "={{ $('计划发到Wordpress1').item.json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2960,
        2288
      ],
      "id": "504d9fdc-ce65-4562-9062-6b89349e65cc",
      "name": "SEO和摘要1",
      "credentials": {
        "httpBasicAuth": {
          "id": "REDACTED_HTTP_BASIC_AUTH_CREDENTIAL_ID",
          "name": "REDACTED_HTTP_BASIC_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&retmode=json&datetype=edat&reldate=1&retmax=100&api_key=YOUR_NCBI_API_KEY&term=%28aging%5Btw%5D+OR+ageing%5Btw%5D+OR+longevity%5Btw%5D+OR+lifespan%5Btw%5D+OR+senescence%5Btw%5D+OR+senolytics%5Btw%5D+OR+rapamycin%5Btw%5D+OR+metformin%5Btw%5D+OR+%22epigenetic+clock%22%5Btw%5D%29+NOT+preprint%5Bpt%5D+NOT+%28%22N+Engl+J+Med%22%5Bta%5D+OR+%22Ageing+Res+Rev%22%5Bta%5D+OR+%22Proc+Natl+Acad+Sci+U+S+A%22%5Bta%5D+OR+%22Cell%22%5Bta%5D+OR+%22Nature%22%5Bta%5D+OR+%22Science%22%5Bta%5D+OR+%22Nat+Med%22%5Bta%5D+OR+%22Nat+Aging%22%5Bta%5D+OR+%22Sci+Adv%22%5Bta%5D+OR+%22Sci+Transl+Med%22%5Bta%5D+OR+%22Aging+Cell%22%5Bta%5D+OR+%22Adv+Sci+%28Weinh%29%22%5Bta%5D+OR+%22Lancet+Healthy+Longev%22%5Bta%5D+OR+%22Aging+%28Albany+NY%29%22%5Bta%5D+OR+%22JMIR+Aging%22%5Bta%5D%29",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        2768
      ],
      "id": "257d303a-c7b0-46f3-baa7-d73af6af448a",
      "name": "PubMed esearch T2"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst idList = data.esearchresult.idlist;\nif (!idList || idList.length === 0) return [];\nreturn [{ json: { idString: idList.join(',') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        2768
      ],
      "id": "bc8e26fd-fde1-4da2-9165-5acaefbc57e4",
      "name": "处理数据2"
    },
    {
      "parameters": {
        "url": "=https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml&api_key=YOUR_NCBI_API_KEY&id={{$json.idString}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        2768
      ],
      "id": "4e2932f6-a2f1-404b-b787-62c6a679dc24",
      "name": "扒拉全文2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        576,
        2768
      ],
      "id": "33a8f853-d7a7-42be-8e90-b2a399533924",
      "name": "XML解析2"
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.PubmedArticleSet.PubmedArticle;\nconst results = [];\nconst articleArray = Array.isArray(articles) ? articles : [articles];\n\nfor (const item of articleArray) {\n    if (!item || !item.MedlineCitation) continue;\n    try {\n        const article = item.MedlineCitation.Article;\n\n        const titleRaw = article.ArticleTitle;\n        const title = typeof titleRaw === 'string' ? titleRaw : (titleRaw._ || '无标题');\n\n        let abstract = '无摘要';\n        if (article.Abstract && article.Abstract.AbstractText) {\n            const absRaw = article.Abstract.AbstractText;\n            if (Array.isArray(absRaw)) {\n                abstract = absRaw.map(a => {\n                    if (typeof a === 'string') return a;\n                    const label = (a.$ && (a.$.Label || a.$.NlmCategory))\n                        ? '[' + (a.$.Label || a.$.NlmCategory) + '] ' : '';\n                    return label + (a._ || '');\n                }).filter(s => s.trim()).join('\\n\\n');\n            } else if (typeof absRaw === 'string') {\n                abstract = absRaw;\n            } else if (absRaw._) {\n                abstract = absRaw._;\n            }\n        }\n\n        if (!abstract || abstract === '无摘要' || abstract.length < 50) continue;\n\n        const pmidRaw = item.MedlineCitation.PMID;\n        const pmid = typeof pmidRaw === 'object' ? (pmidRaw._ || '') : String(pmidRaw);\n        const link = 'https://pubmed.ncbi.nlm.nih.gov/' + pmid + '/';\n\n        let pubDate = '';\n        try {\n            const pd = article.Journal.JournalIssue.PubDate;\n            const year = pd.Year || '';\n            const monthMap = {'Jan':'01','Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06',\n                              'Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'};\n            let month = pd.Month || '01';\n            month = monthMap[month] || String(month).padStart(2, '0');\n            const day = pd.Day ? String(pd.Day).padStart(2, '0') : '01';\n            pubDate = year + '-' + month + '-' + day;\n        } catch(e) { pubDate = ''; }\n\n        let entrezDate = '';\n        try {\n            const history = item.PubmedData\n                && item.PubmedData.History\n                && item.PubmedData.History.PubMedPubDate;\n            if (history) {\n                const histArr = Array.isArray(history) ? history : [history];\n                const entryRow = histArr.find(h => {\n                    const ps = (h.$ && h.$.PubStatus) || h.PubStatus || '';\n                    return ps === 'entrez';\n                });\n                if (entryRow) {\n                    const ey = (Array.isArray(entryRow.Year) ? entryRow.Year[0] : entryRow.Year) || '';\n                    const em = String((Array.isArray(entryRow.Month) ? entryRow.Month[0] : entryRow.Month) || '1').padStart(2, '0');\n                    const ed = String((Array.isArray(entryRow.Day) ? entryRow.Day[0] : entryRow.Day) || '1').padStart(2, '0');\n                    if (ey) entrezDate = ey + '-' + em + '-' + ed;\n                }\n            }\n        } catch(e) { entrezDate = ''; }\n\n        const journalName = (article.Journal && article.Journal.Title)\n            ? article.Journal.Title : '';\n\n        let firstAuthor = '';\n        try {\n            const authors = article.AuthorList.Author;\n            const authorArr = Array.isArray(authors) ? authors : [authors];\n            const a = authorArr[0];\n            if (a) firstAuthor = (a.LastName || '') + (a.ForeName ? ' ' + a.ForeName : '');\n        } catch(e) {}\n\n        results.push({\n            json: {\n                Title: title, PubDate: pubDate, EntrezDate: entrezDate,\n                Link: link, PMID: pmid, Abstract: abstract,\n                JournalName: journalName, FirstAuthor: firstAuthor\n            }\n        });\n    } catch(e) { continue; }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        2768
      ],
      "id": "c476088c-c196-4b13-9697-eec6396300fd",
      "name": "解析PubMed文章2"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.processedPMIDs) staticData.processedPMIDs = [];\n\nconst blacklistPatterns = [\n    /^cell$/i, /^molecular cell/i, /^cell reports/i, /^cell stem cell/i, /^cell metabolism/i,\n    /^nature\\b/i, /^scientific reports/i,\n    /^science$/i, /^science advances/i, /^science immunology/i, /^science signaling/i,\n    /^aging cell/i, /^advanced science/i,\n    /^lancet healthy longevity/i, /^the lancet healthy longevity/i,\n    /^aging \\(albany ny\\)/i, /^jmir aging/i,\n];\n\nconst allItems = $input.all();\nconst newItems = [];\n\nfor (const item of allItems) {\n    const pmid = item.json.PMID || '';\n    if (pmid && staticData.processedPMIDs.includes(pmid)) continue;\n\n    const isBlacklisted = blacklistPatterns.some(p => p.test(item.json.JournalName || ''));\n    if (isBlacklisted) continue;\n\n    newItems.push({ json: { ...item.json } });\n}\n\nconst allPMIDs = allItems.map(i => i.json.PMID).filter(Boolean);\nstaticData.processedPMIDs = [...staticData.processedPMIDs, ...allPMIDs].slice(-1000);\n\nreturn newItems.length > 0 ? newItems : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        2768
      ],
      "id": "949c81a9-5bf5-4f8a-b4e1-ddcd797572f3",
      "name": "PMID去重2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        2800
      ],
      "id": "5162f812-f3d3-49cd-bfc3-e969065769df",
      "name": "非白名单文章1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个内容过滤器。判断这篇 PubMed 文章是否应该出现在「抗衰老/长寿科学」资讯平台上。\n\n## 严格排除标准（以下任一条即排除）\n1. 综述/系统评价/Meta分析/更新和更正——除非是里程碑级别\n2. 纯临床老年管理：跌倒预防、养老护理、生活质量量表、姑息治疗、慢性病管理方案\n3. 社会/心理/行为学研究：社会隔离、主观幸福感、认知行为干预，无分子机制\n4. 纯流行病学统计：仅统计患病率/发病率，无机制探索\n5. 研究对象是老年人，但研究目标与衰老机制无关（如老年骨折手术、老年感染治疗）\n6. 药物副作用、药代动力学、纯剂量安全性研究\n7. 纯疗效评估临床试验，无衰老机制贡献\n\n## 通过标准（核心研究对象必须直接涉及）\n- 衰老生物学机制：端粒、表观遗传时钟、细胞衰老/senescence、线粒体衰退、干细胞耗竭\n- 寿命/健康寿命的直接干预：雷帕霉素、二甲双胍、Senolytics、热量限制、NAD+前体等\n- 衰老生物标志物：生物年龄时钟、衰老细胞标记物\n- 长寿通路新发现：mTOR、AMPK、Sirtuins、NAD+、IGF-1 的新机制\n- 基因组稳定性/DNA损伤修复与衰老\n- 蛋白质稳态/自噬与衰老\n- 免疫衰老（immunosenescence）的机制研究\n- 肠道菌群与衰老机制\n\n期刊：{{ $json.JournalName }}\n标题：{{ $json.Title }}\n摘要：{{ $json.Abstract }}\n\n只输出JSON，不要任何代码块标记：\n{\"pass\": true或false, \"reason\": \"10字以内\"}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1552,
        2928
      ],
      "id": "3aa61b99-12b8-458f-a20a-2d11d239eec7",
      "name": "严格AI守门员2"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 256
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1600,
        3088
      ],
      "id": "0b41f5e4-7fb6-4cdc-88bf-46ff534bc974",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "REDACTED_DEEP_SEEK_API_CREDENTIAL_ID",
          "name": "REDACTED_DEEP_SEEK_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originals = $('非白名单文章1').all();\n\nreturn items.map((item, i) => {\n    const orig = originals[i]?.json || {};\n    let pass = false, reason = '';\n\n    try {\n        let content = item.json.text || '';\n        content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n        const fo = content.indexOf('{'), lc = content.lastIndexOf('}');\n        if (fo !== -1 && lc !== -1) {\n            const p = JSON.parse(content.substring(fo, lc + 1));\n            pass = p.pass === true;\n            reason = p.reason || '';\n        }\n    } catch(e) { pass = false; reason = '解析失败'; }\n\n    return {\n        json: { ...orig, gatekeeper_pass: pass, gatekeeper_reason: reason }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        2928
      ],
      "id": "500d7d7b-7b89-4f01-85f4-f54a1e04e572",
      "name": "解析守门员结果2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "t2-pass-cond",
              "leftValue": "={{ $json.gatekeeper_pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        2928
      ],
      "id": "8a53cdc4-765b-438b-a8bf-ecbbd63e2b39",
      "name": "是否通过筛选2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t2-map-01",
              "name": "original_title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "t2-map-02",
              "name": "content_for_ai",
              "value": "={{ $json.Abstract }}",
              "type": "string"
            },
            {
              "id": "t2-map-03",
              "name": "source_name",
              "value": "={{ $json.JournalName }}",
              "type": "string"
            },
            {
              "id": "t2-map-05",
              "name": "link",
              "value": "={{ $json.Link }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        2768
      ],
      "id": "800cb003-98be-4647-ad84-85d04add2c7c",
      "name": "字段映射2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n你是一位资深抗衰媒体编辑。这篇内容已通过严格相关性审核，直接生成不了解医学知识的普通人都能看懂、且愿意点击的内容。\n\n# Input\n- 来源: {{ $json.source_name }} | 信息质量: {{ $json.info_quality }}\n- 标题: {{ $json.original_title }}\n- 正文: {{ $json.content_for_ai }}\n\n# 写作规则\n1. 写成编辑takeaway，不是论文压缩版。首句=核心发现+对普通人的意义\n2. 禁止使用「研究揭示」「值得注意的是」「重磅消息」等空话\n3. 保留干预对象、机制、关键数据（保留P值即可）、转化意义\n4. 保留至少一个机构或作者。展望贴近科学事实但易懂性强\n5. 综述/评论须明确证据属性\n\n## 策略\n120-160字，包括研究结论+机制与关键数据+研究意义+普通人能听懂的一两句展望\n\n## 中文标题：22-34字，符合中文阅读习惯，不夸大\n\n# Output Format（JSON Only）\n不要markdown代码块。\n{\n  \"translated_title\": \"根据内容重新撰写的有吸引力的中文标题\",\n  \"summary\": \"中文快讯解读（编辑视角的takeaway）\",\n  \"translated_abstract\": \"将原文摘要翻译+解读为流畅专业的中文，保留核心数据和结论，用中文公众号科普媒体表达习惯润色，让普通读者也能看懂并因为有趣继续看下去\",\n  \"seo_keywords\": \"根据内容生成3-5个中文SEO关键词，逗号分隔，如：表观遗传时钟,衰老干预,NAD+\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2320,
        2768
      ],
      "id": "6569536b-d50b-4023-92cd-9d67230d72fd",
      "name": "内容生成AI2"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2352,
        2992
      ],
      "id": "74f7165b-0e3d-4a61-a51e-5cb387707520",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "REDACTED_OPEN_ROUTER_API_CREDENTIAL_ID",
          "name": "REDACTED_OPEN_ROUTER_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allOriginals = $('字段映射2').all();\n\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const orig = allOriginals[i]?.json || {};\n\n    let finalSummary = '', finalTitle = '', translatedAbstract = '', seoKeywords = '';\n    try {\n        const raw = item.json.output || item.json.text || '';\n        const fo = raw.indexOf('{'), lc = raw.lastIndexOf('}');\n        if (fo !== -1 && lc !== -1) {\n            const p = JSON.parse(raw.substring(fo, lc + 1));\n            if (p.summary)             finalSummary       = p.summary;\n            if (p.translated_title)    finalTitle         = p.translated_title;\n            if (p.translated_abstract) translatedAbstract = p.translated_abstract;\n            if (p.seo_keywords)        seoKeywords        = p.seo_keywords;\n        }\n    } catch(e) {}\n\n    results.push({\n        json: {\n            ...orig,\n            is_relevant: true,\n            summary: finalSummary,\n            title: finalTitle || orig.original_title || '标题缺失',\n            translated_abstract: translatedAbstract,\n            seo_keywords: seoKeywords\n        }\n    });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        2768
      ],
      "id": "2f29c0c3-f768-4962-81fb-8b99c68f7894",
      "name": "解析生成结果2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n    const d = item.json;\n    const wpTitle    = d.title || d.original_title || '标题缺失';\n    const sourceInfo = d.source_name || d.JournalName || 'PubMed';\n    const link       = d.link || d.Link || '';\n\n    let wpContent = '';\n    if (d.translated_abstract) {\n        wpContent += '<p>' + d.translated_abstract + '</p>\\n\\n';\n    }\n    wpContent += '<p>📎 来源：' + sourceInfo;\n    if (link) {\n        wpContent += ' | <a href=\"' + link + '\" target=\"_blank\" rel=\"noopener\">查看原文</a>';\n    }\n    wpContent += '</p>';\n\n    results.push({\n        json: {\n            wp_title:           wpTitle,\n            wp_content:         wpContent,\n            wp_excerpt:         d.summary || '',\n            wp_seo_keywords:    d.seo_keywords || '',\n            wp_seo_description: (d.summary || '').substring(0, 156),\n            original_link:      link,\n            source_name:        sourceInfo,\n            summary:            d.summary || ''\n        }\n    });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        2768
      ],
      "id": "e15bfdc2-ad56-4f45-b9c7-bf05e68c5781",
      "name": "计划发到Wordpress2"
    },
    {
      "parameters": {
        "title": "={{ $json.wp_title }}",
        "additionalFields": {
          "content": "={{ $json.wp_content }}",
          "status": "draft",
          "categories": [
            14
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2976,
        2768
      ],
      "id": "41355103-dd4a-47e1-9747-5d067a54481d",
      "name": "Create a post2",
      "credentials": {
        "wordpressApi": {
          "id": "REDACTED_WORDPRESS_API_CREDENTIAL_ID",
          "name": "REDACTED_WORDPRESS_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://longevityforesight.com/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excerpt",
              "value": "={{ $('计划发到Wordpress2').item.json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3184,
        2768
      ],
      "id": "a37ee043-7fc1-4ae4-bec9-50579b7799e3",
      "name": "SEO和摘要2",
      "credentials": {
        "httpBasicAuth": {
          "id": "REDACTED_HTTP_BASIC_AUTH_CREDENTIAL_ID",
          "name": "REDACTED_HTTP_BASIC_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        2576
      ],
      "id": "f5bee333-706e-491b-afeb-ca3604aed234",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "PubMed esearch T1": {
      "main": [
        [
          {
            "node": "处理数据1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "送入守门员": {
      "main": [
        [
          {
            "node": "严格AI守门员1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "严格AI守门员1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "内容生成AI1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "处理数据1": {
      "main": [
        [
          {
            "node": "扒拉全文1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "扒拉全文1": {
      "main": [
        [
          {
            "node": "XML解析1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML解析1": {
      "main": [
        [
          {
            "node": "解析PubMed文章1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析PubMed文章1": {
      "main": [
        [
          {
            "node": "PMID去重1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PMID去重1": {
      "main": [
        [
          {
            "node": "送入守门员",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "严格AI守门员1": {
      "main": [
        [
          {
            "node": "解析守门员结果1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析守门员结果1": {
      "main": [
        [
          {
            "node": "是否通过筛选1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否通过筛选1": {
      "main": [
        [
          {
            "node": "字段映射1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "字段映射1": {
      "main": [
        [
          {
            "node": "内容生成AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "内容生成AI1": {
      "main": [
        [
          {
            "node": "解析生成结果1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析生成结果1": {
      "main": [
        [
          {
            "node": "计划发到Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计划发到Wordpress1": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        [
          {
            "node": "SEO和摘要1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PubMed esearch T2": {
      "main": [
        [
          {
            "node": "处理数据2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理数据2": {
      "main": [
        [
          {
            "node": "扒拉全文2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "扒拉全文2": {
      "main": [
        [
          {
            "node": "XML解析2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML解析2": {
      "main": [
        [
          {
            "node": "解析PubMed文章2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析PubMed文章2": {
      "main": [
        [
          {
            "node": "PMID去重2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PMID去重2": {
      "main": [
        [
          {
            "node": "非白名单文章1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "非白名单文章1": {
      "main": [
        [
          {
            "node": "严格AI守门员2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "严格AI守门员2": {
      "main": [
        [
          {
            "node": "解析守门员结果2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "严格AI守门员2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "解析守门员结果2": {
      "main": [
        [
          {
            "node": "是否通过筛选2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否通过筛选2": {
      "main": [
        [
          {
            "node": "字段映射2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "字段映射2": {
      "main": [
        [
          {
            "node": "内容生成AI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "内容生成AI2": {
      "main": [
        [
          {
            "node": "解析生成结果2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "内容生成AI2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "解析生成结果2": {
      "main": [
        [
          {
            "node": "计划发到Wordpress2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计划发到Wordpress2": {
      "main": [
        [
          {
            "node": "Create a post2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post2": {
      "main": [
        [
          {
            "node": "SEO和摘要2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PubMed esearch T1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PubMed esearch T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "0mP_PYKddiGBzUsFAYaVA"
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": "REDACTED_TEMPLATE_CREDS_STATUS",
    "instanceId": "REDACTED_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
